/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  user-select: text;
  font: normal 12px/180% "SimSun";
  -webkit-overflow-scrolling: touch;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}
body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  min-width: 1200px;
  background-image: url('@&bg.jpg&');
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
ul, li {
  list-style-type: none;
}

a {
  color: unset;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

nav[template=titleBar] {
  margin-top: 34%;
}

[template=home] .swiper-news-box .right {
  height: 410px;
  overflow: hidden;
}

.image-news-list[template=imageNewsList] {
  float: left;
  width: 302px;
  border-right: 1px solid #ebebeb;
}

/* 最后一个没有右边框 */
.image-news-list[template=imageNewsList]:nth-last-child(2) {
  border-right: none;
}

.image-news-box {
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.news-card-box {
  margin-right: -35px;
}
.news-card[template=newsCard] {
  float: left;
  margin-right: 35px;
  margin-bottom: 50px;
}

.news-card:nth-child(2) .news-card-title{
  background-image: url('@&title2.png&');
}

.news-card:nth-child(3) .news-card-title{
  background-image: url('@&title3.png&');
}

.news-card:nth-child(4) .news-card-title{
  background-image: url('@&title4.png&');
}

.news-card:nth-child(5) .news-card-title{
  background-image: url('@&title5.png&');
}

.image-card[template=imageCard] {
  float: left;
}

.image-card[template=imageCard]:nth-child(1) {
  margin-right: 8px;
}

[template=home] .news-list[template=newsList] {
  margin-bottom: 10px;
}